{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div>
    <h1 class="m-auto">Projects</h1>
</div>
<a href="{% url 'AddProject' %}" class="btn btn-success" aria-hidden="true">Create New Project
</a>
<div class="table-responsive p-0">
    <table class="table align-items-center mb-0">
        <thead>
            <tr>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project Name</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Business</th>

                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">no. of Versions
                </th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">BA</th>
                <th class="text-secondary opacity-7"></th>
            </tr>
        </thead>

        <thead>
            <tr>
                <form id="form" method="get">
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        {{filter.form.name}}</th>
                    <th>
                        <input type="text" name="Business" value="{{Business}}" class="form-control filter" id="personaInputfilter" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Business">
                    </th>
                    <th></th>
                    <th>
                        <input type="text" name="BA" value="{{BA}}" class="form-control filter" id="personaInputfilter" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="BA">
                    </th>
                </form>
            </tr>
        </thead>

        <tbody>
            {% for project in projects %}
                <tr>
                <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{project.name}}</span>
                </td>
                <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{project.Business.name}}</span>
                </td>
                <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{project.project}}</span>
                </td>
                <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{project.User.username}}</span>
                </td>
                <td class="align-middle text-center">
                    <a href="{% url 'projectDetails' project.id %}" class="btn btn-success" aria-hidden="true">
                        Details
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
</div>

{% endblock %}