{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="header" style="background: #12c064;">
        <span class="logo">UserStory</span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
    
</html>